<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container top_component " th:fragment="top_component">
        <div class="top_component_inner d-flex flex-row col-md-6 col-12 offset-md-3 p-2 mt-3 text-white  align-items-center">
            <div class="col-4 p-1 ">
                <form class="d-flex col-12 form-sort" th:action="@{/?sort={sort}}">
                    <select onchange="this.form.submit()" class="form-sort" id="sort" name="sort">
                        <option th:each="sort : ${sorts}" th:text="${sort}" th:value="${sort}" th:selected="${sorted} == ${sort}"></option>
                    </select>
                </form>
            </div>
            <div class="col-4 p-1 text-center">
                <span class="total_count" th:text="'Found : '+ ${#lists.size(diaries)} + ' diaries'"></span>
            </div>
            <div class="col-4 p-1 text-end">
                <a class=" btn-add-diary text-white" th:href="@{/diary/new}">New Diary</a>
            </div>
        </div>
    </div>
    
    
<div th:fragment="diary_list" class="diary-list-wrapper container">
    <div class="diary-list-wrapper flex-wrap col-md-6 d-flex flex-row offset-md-3 col-12 mt-2">
        <div th:each="diary : ${diaries}" class="diary-row">
        	<span class="diary-time text-white col-12 p-2">
                        [[${diary.last_edited}]]
                    </span>
            <a th:href="@{/diary/update/}+${diary.id}" class="col-12 diary-item p-2">
             
                <div th:class="${diary.done == true} ? 'diary-content mt-1 done' : 'diary-content mt-1'">
                    [(${diary.content})]
                </div>
               
            </a>
             <div class="diary-info d-flex flex-row mt-2">
             		<a th:href="@{/diary/update_done?id=}+${diary.id}+'&done=false'" th:if="${diary.done == true}" class="border-none btn-primary col-6 update_done btn"><i class="fa-regular fa-square-check"></i></a>
             		<a th:href="@{/diary/update_done?id=}+${diary.id}+'&done=true'" th:if="${diary.done == false}" class="border-none btn-gray col-6 update_done btn"><i class="fa-regular fa-square"></i></a>
                         <a th:if="${diary.display == true}" th:href="@{/diary/update_hidden/}+${diary.id}" class="border-none col-6 back-arrow btn-primary btn btn-danger">
	                        <i class="fa-solid fa-trash"></i>
	                    </a>
	                    <a th:if="${diary.display == false}" th:href="@{/diary/update_display/}+${diary.id}" class="border-none btn-secondary col-6 back-arrow btn btn-secondary">
	                        <i class="fa-solid fa-trash-arrow-up"></i>
	                    </a>
             </div>
        </div>

    </div>
</div>
</body>
</html>