<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header_user">
    <meta charset="UTF-8">
    <title>[(${title})]</title>
    <link th:href="@{/css/app.css}" type="text/css"/>
    <script th:src="@{/js/app.js}" type=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<head th:fragment="header_authen">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

</body>
</html>