<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/fragments/header::header_user">
</head>
<body>
<div th:replace="/fragments/header::header_nav" class="header_top"></div>
<div th:replace="/fragments/fragments::top_component" class="top_component"></div>

<div th:replace="/fragments/fragments::diary_list"></div>

<div th:replace="/fragments/footer::footer" class="footer"></div>
</body>
</html>