<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/fragments/header::header_user">
</head>
<body>
<div th:replace="/fragments/header::header_nav" class="header_top"></div>

<div class="container top_component " th:fragment="top_component">
        <div class="top_component_inner d-flex flex-row col-md-6 col-12 offset-md-3 p-2 mt-3 text-white  align-items-center">
 
            <div class="col-12 p-1 text-center">
                <span class="total_count" th:text="'Found : '+ ${#lists.size(diaries)} + ' diaries with keyword : '+${param.keyword}+''"></span>
            </div>
          
        </div>
    </div>

<div th:replace="/fragments/fragments::diary_list"></div>

<div th:replace="/fragments/footer::footer" class="footer"></div>
</body>
</html>